/*
	 	   _                                         
	 ___  | |_   _ __    ___    __ _   _ __ ___      
	/ __| | __| | '__|  / _ \  / _` | | '_ ` _ \     
	\__ \ | |_  | |    |  __/ | (_| | | | | | | |  _ 
	|___/  \__| |_|     \___|  \__,_| |_| |_| |_| (_)
													
	Created by David Bollmann and Jonathan Verbeek (jverbeek.de)
	Hochschule Bremen City University of Applied Sciences
*/

:root {
	scroll-behavior: smooth;
	scroll-padding-top: 64px;
}

a {
	text-decoration: none;
	color: black;
}

body {
	overflow-x: hidden;
}

section {
	height: calc(100vh - 64px);
}

section:first-of-type {
	padding-top: calc(77px - 64px);
}

.navbar>a {
	font-family: Futura;
	font-weight: bold;
	padding-right: 36px;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.navbar-title {
	font-family: Futura;
	font-weight: bold;
	text-rendering: optimizeLegibility;
}

.navbar-search {
	position: fixed !important;
    z-index: 10;
	background-color: #FFFFFF;
	width: 100%;
	z-index: 10000;
}

.navbar-search-textfield {
	padding-top: 16px !important;
	width: 100%;
	border: none !important;
}

.navbar-search-textfield::before {
	border: none !important;
}

.showcase-carousel {
	height: calc(100vh - 64px); /* Navbar is 64px */
	background-color: black;
}

.showcase-carousel>.CarouselItem, .showcase-carousel>.CarouselItem>div {
	height: 100%;
}

.showcase-wrapper {
	position: relative;
	height: 100%;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.showcase-image {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.showcase-texts {
	position: absolute;
	margin-top: calc(25% - 64px);
	margin-left: 64px;
}

.showcase-texts>h1 {
	font-family: Futura;
	font-weight: bold;
	font-size: 36pt;
	color: white;
	margin: 0;
	padding: 0;
}

.showcase-texts>h4 {
	font-size: 18pt;
	color: white;
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	font-weight: lighter;
}

.media-container {
	padding-top: calc(77px - 64px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.filter-bar {
	background-color: white;
	position: absolute !important;
	width: 100%;
	top: calc(100vh + calc(77px - 64px));
}

.filter-bar>a {
	font-family: "Futura";
	font-weight: bold;
	padding-right: 36px;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.filter-bar-extended {
	position: absolute !important;
	width: 100%;
	top: calc(100vh + calc(77px - 64px) + 64px);
	background-color: white;
	box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
	z-index: 100;
}

.filter-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 64px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.filter-list>div {
	display: flex;
	flex-direction: column;
}

.filter-list>div>h1 {
	font-family: Helvetica;
	color: #555;
	margin: 0;
}

.filter-list>div>a {
	font-family: Helvetica;
	font-size: 12pt;
	padding-top: 12px;
	cursor: pointer;
}

.media-scroller {
	display: grid;
	grid-auto-flow: column;
	column-gap: 128px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.media-scroller>a, .selected-scroller>a, .selected-grid>a {
	text-decoration: none;
}

.media-scroller::-webkit-scrollbar {
	display: none;
}

.media-scroller:before, .media-scroller:after {
	content: " ";
	width: 32px;
}

.media-tile {
	background-color: white;
	z-index: 1;
}

.media-tile.dvd {
	/* TODO */
	height: 640px;
	width: 320px;
}

.media-tile.small {
	/* TODO */
	height: 320px;
	width: 480px;
}

.media-tile:hover {
	z-index: 1;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.media-tile-cover-wrapper {
    width: 100%;
	height: 78%;
	overflow: hidden;
}

.media-tile-cover {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: 0.05s linear transform;
}

.media-tile:hover>.media-tile-cover-wrapper>.media-tile-cover {
	transform: scale(1.1);
}

.media-link {
	text-decoration: none;
}

.media-tile>h1 {
	font-family: Futura;
	font-weight: bold;
	font-size: 24pt;
	color: black;
	margin: 0;
	padding: 0;
	padding-left: 16px;
	padding-right: 16px;	
}

.media-tile>h4 {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 14pt;
	color: black;
	margin: 0;
	padding: 0;
	padding-left: 16px;
	padding-right: 16px;
}

.deco-circle {
	position: absolute;
	height: 512px;
    width: 512px;
	z-index: -10;
}

.deco-circle.right {
	right: 0;
}

.selected-container {
	padding-top: calc(77px - 64px);
	padding: 32px;
}

.selected-container>h1 {
	font-family: Futura;
	font-weight: bold;
	font-size: 48pt;
	margin-top: 32px;
	margin-bottom: 0;
}

.selected-grid {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-left: 64px;
}

.selected-scroller {
	padding-left: 64px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-auto-flow: column;
	column-gap: 64px;
	row-gap: 64px;
}

.footer {
	background-color: #272727;
	padding: 36px;
	padding-bottom: 96px;
}

.footer-grid {
	display: flex;
	flex-direction: row;
}

.footer-grid>.rb-logo {
	display: flex;
	flex-direction: column;
}

.footer-grid>.rb-logo>div {
	padding-top: 12px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.footer-grid>.rb-logo>div>a {
	color: white;
	font-size: 18pt;
	justify-self: center;
}

.footer-grid>.rb-logo>img {
	height: 28px;
}

.footer-grid>div {
	padding-right: 64px;
}

.footer-grid>div>a {
	font-family: Futura;
	font-weight: bold;
	font-size: 14pt;
	text-decoration: none;
	color: white;
}

.video-player {
	background-color: black;
	width: 100%;
	height: 100%;
}

.video-info {
	padding: 64px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.video-info>div>h1, .audio-player>.info>h1, .audio-player>.chapters>h1 {
	font-family: Futura;
	font-weight: bold;
	font-size: 32pt;
	margin: 0;
}

.video-subtitle {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.video-subtitle>h2, .video-info>div>h2 {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 26pt;
	color: #777;
	margin: 0;
}

.video-subtitle>p {
	font-family: Helvetica;
	font-size: 14pt;
	margin: 0;
	padding-left: 12px;
	color: #aaa;
}

.video-info>div>p {
	font-family: Helvetica;
	font-size: 12pt;
}

.audio-player {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	height: calc(100vh - 64px);
}

.audio-player>.cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.audio-player>.info {
	padding: 32px;
}

.audio-player>.chapters {
	padding: 32px;
}

.audio-player>.chapters>.chapters-scroller {
	padding-top: 32px;
}

.audio-player>.chapters>.chapters-scroller>.chapter {
	display: flex;
	align-items: center;
	height: 64px;
	font-family: Helvetica;
	font-size: 18pt;
	cursor: pointer;
	-webkit-user-select: none;
	padding-left: 8px;
}

.audio-player>.chapters>.chapters-scroller>.chapter:hover {
	background-color: #ccc;
}

.share-container {
	display: flex;
}

.share-container>a {
	color: #777;
	text-decoration: none;
	font-size: 24pt;
	margin-right: 24px;
}

.actors-container {
	display: flex;
	flex-direction: row;
	padding-top: 16px;
}

.actors-container>.actor {
	display: flex;
	width: 64px;
	height: 64px;
	background-color: #dadada;
	margin-right: 16px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-family: Helvetica;
	font-size: 16pt;
	color: #777;
	-webkit-user-select: none;
	transition: 0.1s linear transform;
}

.actors-container>.actor:hover {
	transform: scale(1.1);
}

.stations-container {
	display: grid;
	grid-template-columns: 30% 70%;
}

.station-header {
	width: 320px;
	height: 180px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.station-header>div {
	display: flex;
	height: 50%;
}

.station-header>div>img {
	height: 100%;
	margin-top: 2px;
	padding-left: 8px;
}

.station-description {
	margin-top: 64px;
	margin-left: 64px;
	font-family: Helvetica;
	font-size: 12pt;
	color: #9E9E9E;
}

.station-socials {
	margin-top: 64px;
	margin-left: 64px;
	font-size: 24pt;
}

.station-socials>a {
	color: #9e9e9e;
	margin-right: 16px;
}

.station-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: row;
	justify-items: center;
	row-gap: 64px;
	height: calc(100vh - 77px);
	padding-top: 64px;
	overflow-y: scroll;
}

::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
}

*:hover>::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
	border-radius: 8px;
}
