/*
	 	   _                                         
	 ___  | |_   _ __    ___    __ _   _ __ ___      
	/ __| | __| | '__|  / _ \  / _` | | '_ ` _ \     
	\__ \ | |_  | |    |  __/ | (_| | | | | | | |  _ 
	|___/  \__| |_|     \___|  \__,_| |_| |_| |_| (_)
													
	Created by David Bollmann and Jonathan Verbeek (jverbeek.de)
	Hochschule Bremen City University of Applied Sciences
*/

.navbar>a[href] {
	font-family: "Futura";
	font-weight: bold;
	padding-right: 36px;
	text-decoration: none;
	color: black;
}

.navbar-title {
	font-family: "Futura";
	font-weight: bold;
	text-rendering: optimizeLegibility;
	flex-grow: 1;
}

.navbar-search-textfield {
	padding-top: 16px !important;
	width: 100%;
	border: none !important;
}

.navbar-search-textfield::before {
	border: none !important;
}
