/*
	 	   _                                         
	 ___  | |_   _ __    ___    __ _   _ __ ___      
	/ __| | __| | '__|  / _ \  / _` | | '_ ` _ \     
	\__ \ | |_  | |    |  __/ | (_| | | | | | | |  _ 
	|___/  \__| |_|     \___|  \__,_| |_| |_| |_| (_)
													
	Created by David Bollmann and Jonathan Verbeek (jverbeek.de)
	Hochschule Bremen City University of Applied Sciences
*/

body {
	overflow-x: hidden;
}

.navbar>a[href] {
	font-family: Futura;
	font-weight: bold;
	padding-right: 36px;
	text-decoration: none;
	color: black;
}

.navbar-title {
	font-family: Futura;
	font-weight: bold;
	text-rendering: optimizeLegibility;
}

.navbar-search {
	position: absolute !important;
    z-index: 10;
	background-color: #FFFFFF;
	width: 100%;
	z-index: 10000;
}

.navbar-search-textfield {
	padding-top: 16px !important;
	width: 100%;
	border: none !important;
}

.navbar-search-textfield::before {
	border: none !important;
}

.showcase-carousel {
	height: calc(100vh - 64px); /* Navbar is 64px */
}

.showcase-carousel>.CarouselItem, .showcase-carousel>.CarouselItem>div {
	height: 100%;
}

.showcase-wrapper {
	position: relative;
	height: 100%;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.showcase-image {
	position: absolute;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.showcase-texts {
	position: absolute;
	margin-top: calc(25% - 64px);
	margin-left: 64px;
}

.showcase-texts>h1 {
	font-family: Futura;
	font-weight: bold;
	font-size: 36pt;
	color: white;
	margin: 0;
	padding: 0;
}

.showcase-texts>h4 {
	font-size: 18pt;
	color: white;
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	font-weight: lighter;
}

.filter-bar {
	background-color: white;
}

.filter-bar>a[href] {
	font-family: "Futura";
	font-weight: bold;
	padding-right: 36px;
	text-decoration: none;
	color: black;
}
